name: Code coverage CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run coverage
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        directory: ./docs/coverage
        name: codecov-umbrella
        fail_ci_if_error: true
        verbose: true
